### Primitive Data Types

In [ ]:
print(len(123412))

TypeError: object of type 'int' has no len()

string indexes will start from 0, string indicated with ''

In [ ]:
#string
print('Hello!'[5])

!

In [ ]:
print('123'+456)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('123'+'456')

123456

In [ ]:
#integer
print(123+456)

579

In [ ]:
123,345,678 #commonly the comma should replace with _ so python language can understand

(123, 345, 678)

In [ ]:
123_345_678

123345678

In [ ]:
#float
3141.59

3141.59

In [ ]:
#boolean
True
False

False

### Type Error, Type Checking and Type Conversion

In [ ]:
len(1234)

TypeError: object of type 'int' has no len()

why get TypeError, because the object type 'int' has no len() function, len() function just work on str data types

In [ ]:
num_char = len(input("What is your name?"))
print("Your name has " + num_char + " characters.")

What is your name?maul

TypeError: can only concatenate str (not "int") to str

concatenate (+) only work on str type, if we have different data type concatenate not working as well

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name?maul
Your name has 4 characters.

In [ ]:
print(type(num_char))

<class 'int'>

to check what your data type, you can use type(variable) function

In [1]:
a = float(123)
print(type(a))

<class 'float'>

In [2]:
print(70+float("100.5"))

170.5

In [3]:
print(str(70)+str(100))

70100

### Mathematical Operations

PEMDASLR -> () ** * / + -

In [ ]:
3 + 5
7 - 4
3 * 2
print(type(6 / 3))

<class 'float'>

In [ ]:
2 ** 3

8

### Number Manipulation and F Strings in Python

In [ ]:
print(8/3)

2.6666666666666665

In [ ]:
print(round(8/3, 2))

2.67

In [ ]:
print(8 // 3)

2

In [ ]:
print(type(8 // 3))

<class 'int'>

In [ ]:
score = 4 / 2
score /= 2
print(score)

1.0

In [ ]:
result = 0
#result = result + 1
result += 1
print(result)

1

In [ ]:
score = 0
height = 1.8
isWinning = True
#f-string
print(f"your score is {score}, your height is {height}, you are winning is {isWinning}")

your score is 0, your height is 1.8, you are winning is True

### **Exercise: Life in Weeks**

I was reading this article by Tim Urban - Your Life in Weeks and realised just how title time we actually have.

Create a program using maths and f-Strings that tells us how many weeks we have left, if we live until 90 years old.

It will take you current age as the input and output a message with our time left in the format: you have x weeks left.

Where x is replaced with the actual calculated number of weeks the input age has left until age 90.

Create a program using maths and f-Strings that tells us how many weeks we have left, if we live until 90 years old.

In [8]:
age = input()
# dont change the code above
# your code below this line
years = 90 - int(age)
week = years * 52

print(f"You have {week} weeks left.")

You have 52 weeks left.

### **Project: Tip Calculator**

**Instruction**

If the bill was $150.00, split between 5 people, with 12% tip.

Each person should pay (150.00 / 5) * 1.12 = 33.6

Format the result to 2 decimal places = 33.60

Thus everyone's share of the total bill is $30.00 plus a $3.60 tip.

Tip: There are 2 ways to round a number. You might have to do some Googling to solve this.

**Example Input**

Welcome to the tip calculator!

What was the total bill? $124.56

How much tip would you like to give? 10, 12, or 15? 12

How many people to split the bill? 7


**Example Output**

Each person should pay: $19.93

In [24]:
print('Welcome to the tip calculator!')
bills = input('What was the bills? $')
tip = input('How much tip would you like to give? 10, 12 or 15? ')
people = input('How many people to split the bill?')
split = round(float(bills)/int(people),2)
pay = split + round(split*(int(tip)/100),2)

print(f'Each person should pay : ${round(pay,2)}')

Welcome to the tip calculator!
Each person should pay : $19.92