### Random Module

In [3]:
import random

In [ ]:
random_integer = random.randint(1, 10)
print(random_integer)

3

In [ ]:
random_float = random.random()
print(random_float)

0.7591707204293183

random float will start from 0.000000 - 0.999999

how to create random float number between 1 - 10

In [ ]:
randomFloat = random.random() * 5
print(randomFloat)

1.719784189675856

code above will multiple 5 with random 0.0000 - 0.999999, and the result will not include 5

In [ ]:
love_score = random.randint(1,100)
print(f"Your love score is {love_score}")

Your love score is 24

### Understanding the Offset and Appending Items to Lists

In [ ]:
states_of_america = ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire"]

In [ ]:
print(states_of_america[1])

Pennsylvania

In [ ]:
print(states_of_america[-2])

South Carolina

In [ ]:
states_of_america.append("Garut")

In [ ]:
print(states_of_america)

['Delaware', 'Pennsylvania', 'New Jersey', 'Georgia', 'Connecticut', 'Massachusetts', 'Maryland', 'South Carolina', 'New Hampshire', 'Garut']

In [ ]:
states_of_america.extend(["Indonesia", "Malaysia"])

In [ ]:
print(states_of_america)

['Delaware', 'Pennsylvania', 'New Jersey', 'Georgia', 'Connecticut', 'Massachusetts', 'Maryland', 'South Carolina', 'New Hampshire', 'Garut', 'Indonesia', 'Malaysia']

In [ ]:
state1 = "Delaware"
state2 = "Pennsylvania"
state3 = "New Jersey"
state4 = "Connecticut"

states = [state1, state2, state3, state4]
print(states)

['Delaware', 'Pennsylvania', 'New Jersey', 'Connecticut']

### Index Error and Working with Nested Lists

In [1]:
states_of_america = ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire"]

In [2]:
num_of_states = len(states_of_america)
print(states_of_america[num_of_states-1])

New Hampshire

In [3]:
fruits = ['Strawberries', 'Nectarines', 'Apples', 'Grapes', 'Peaches', 'Cherries', 'Pears']
vegetables = ['Spinach', 'Kale', 'Tomatoes', 'Celery', 'Potatoes']

In [5]:
dirty_dozen = [fruits,vegetables]
print(dirty_dozen)

[['Strawberries',
  'Nectarines',
  'Apples',
  'Grapes',
  'Peaches',
  'Cherries',
  'Pears'],
 ['Spinach', 'Kale', 'Tomatoes', 'Celery', 'Potatoes']]

In [6]:
print(dirty_dozen[1][1])

Kale

### **Exercise: Treasure Map**

You are going to write a program that will mark a spot on map with an X.

In the starting code, you will find a variable called map.

This map contains a nested list. When map is printed this is what it looks like, notice the nesting:

[['...','...','...'],['...','...','...'],['...','...','...']]

This is a bit hard to work with. So on lines 6 and 23, we've used this line of code print(f"{row1}\n{row2}\n{row3}") to format the 3 lists to be printed as a 3 by 3 grid, each on a new line.

['...','...','...']

['...','...','...']

['...','...','...']

### **Project: Rock Paper Scissors**

In [3]:
import random

rock = '''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

paper = '''
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)
'''

scissors = '''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

game_images = [rock, paper, scissors]

player_choice = int(input("What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.\n"))
print(game_images[player_choice])

computer_choice = random.randint(0, 2)
print("Computer chose:")
print(game_images[computer_choice])

if player_choice >= 3 or player_choice < 0: 
  print("You typed an invalid number, you lose!") 
elif player_choice == 0 and computer_choice == 2:
  print("You win!")
elif computer_choice == 0 and player_choice == 2:
  print("You lose")
elif computer_choice > player_choice:
  print("You lose")
elif player_choice > computer_choice:
  print("You win!")
elif computer_choice == player_choice:
  print("It's a draw")

    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

Computer chose:

    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

It's a draw